<?xml version="1.0"?>
<config>
    <modules>
        <Billie_Core>
            <version>0.2.0</version>
        </Billie_Core>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <billie_legal_form>
                    <to_order_payment>*</to_order_payment>
                </billie_legal_form>
                <billie_registration_number>
                    <to_order_payment>*</to_order_payment>
                </billie_registration_number>
                <billie_tax_id>
                    <to_order_payment>*</to_order_payment>
                </billie_tax_id>
                <billie_company>
                    <to_order_payment>*</to_order_payment>
                </billie_company>
                <billie_salutation>
                    <to_order_payment>*</to_order_payment>
                </billie_salutation>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <billie_core>
                <class>Billie_Core_Model</class>
                <resourceModel>billie_core_resource</resourceModel>
            </billie_core>
            <billie_core_resource>
                <class>Billie_Core_Model_Resource</class>
                <entities>
                    <transaction_log>
                        <table>billie_transaction_log</table>
                    </transaction_log>
                </entities>
            </billie_core_resource>
        </models>
        <blocks>
            <billie_core>
                <class>Billie_Core_Block</class>
            </billie_core>
        </blocks>
        <helpers>
            <billie_core>
                <class>Billie_Core_Helper</class>
            </billie_core>
        </helpers>
        <resources>
            <billie_core_setup>
                <setup>
                    <module>Billie_Core</module>
                </setup>
            </billie_core_setup>
        </resources>
        <events>
            <resource_get_tablename>
                <observers>
                    <billie_core>
                        <class>billie_core/observer</class>
                        <method>addAutoloader</method>
                    </billie_core>
                </observers>
            </resource_get_tablename>
            <sales_order_place_before>
                <observers>
                    <billie_createorder>
                        <type>singleton</type>
                        <class>Billie_Core_Model_Sales_Observer</class>
                        <method>createOrder</method>
                    </billie_createorder>
                </observers>
            </sales_order_place_before>
            <sales_order_shipment_save_after>
                <observers>
                    <billie_shiporder>
                        <type>singleton</type>
                        <class>Billie_Core_Model_Sales_Observer</class>
                        <method>shipOrder</method>
                    </billie_shiporder>
                </observers>
            </sales_order_shipment_save_after>
            <order_cancel_after>
                <observers>
                    <billie_cancelorder>
                        <type>singleton</type>
                        <class>Billie_Core_Model_Sales_Observer</class>
                        <method>cancelOrder</method>
                    </billie_cancelorder>
                </observers>
            </order_cancel_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <billie_updateorder>
                        <type>singleton</type>
                        <class>Billie_Core_Model_Sales_Observer</class>
                        <method>updateOrder</method>
                    </billie_updateorder>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
    </global>
    <default>
        <payment>
            <payafterdelivery>
                <active>1</active>
                <model>billie_core/payment_payafterdelivery</model>
                <order_status>pending</order_status>
                <title>PayAfterDelivery</title>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </payafterdelivery>
        </payment>
        <billie_core>
            <config>
                <housenumber>street</housenumber>
            </config>
        </billie_core>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <billie_core translate="title" module="billie_core">
                                            <title>Billie Core Payment</title>
                                        </billie_core>
                                        <config>
                                            <children>
                                                <billie_core translate="title" module="billie_core">
                                                    <title>Payment Config</title>
                                                </billie_core>
                                            </children>
                                        </config>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <billie_core>
                    <file>billie_core.xml</file>
                </billie_core>
            </updates>
        </layout>
        <translate>
            <modules>
                <billie_core>
                    <files>
                        <default>billie_core.csv</default>
                    </files>
                </billie_core>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <billie_core>
                    <files>
                        <default>billie_core.csv</default>
                    </files>
                </billie_core>
            </modules>
        </translate>
        <layout>
            <updates>
                <billie_core>
                    <file>billie_core.xml</file>
                </billie_core>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Billie_Core before="Mage_Adminhtml">Billie_Core_Adminhtml</Billie_Core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>